<!doctype html>
<html>
<head>
<% include head.html %>
</head>
<body>
<!-- 上方选择条 navbar-top-->
<% include navbar.html %>
<!-- 侧边框 -->
<% include slide_info.html%>
<script type="text/javascript">
   function setNavActive(){
       var active=document.getElementById('infomanage');
           active.className='active';
    }

   function setSlideActive(){
        var slide = document.getElementById('courseselect');
            slide.className='active';
   }

     setNavActive();
     setSlideActive();
</script>

<!-- 主要内容 -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="area-top clearfix">
        <div class="pull-left header">
          <h3 class="title"><i class="icon-search"></i>课程查询</h3>
          <h5>获得课程信息</h5>
        </div>
      </div>
    </div>
  </div>
  <!-- 信息填写 -->
  <div class="span12">
    <div class="box">
      <div class="box-header">
        <span class="title">课程ID填写</span>
      </div>
      <form name="input" action="/info/courseselect" method="post">
        <div class="box-content padded">
          <div class="row-fluid">
            <div class="span9">
            <!-- 条件选框 -->
              <ul>
                <li class="input">
                  <label>课程ID</label>
                  <input type="text" placeholder="e.g. 123456" name="courseid2">
                </li>
              </ul>
              </div>
            </div>
            <button type="submit" class="btn btn-blue">查询</button>
          </div>
        </div>
      </form>
      </div>

      <!-- 搜索结果 -->
      <div class="span10">
        <div class="box">
          <div class="box-header">
            <span class="title">搜索结果</span>
          </div>
          <form action="/courseselect" role="form" method="post">
            <% for(var i=0; i<data.length;i++) { %>
              <li class="input">
              <label>课程名称</label>
              <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= data[i].coursename %></span></p></li>
              </li>

              <li class="input">
              <label>课程ID</label>
              <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= data[i].courseid2 %></span></p>
              </li>

              <li class="input">
              <label>课程学期</label>
              <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= data[i].courseterm %></span></p>
              </li>

              <li class="input">
              <label>上课时间</label>
              <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= data[i].coursetime %></span></p>
              </li>

              <li class="input">
              <label>课程学分</label>
              <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= data[i].coursescore %></span></p>
              </li>

              <li class="input">
              <label>授课老师</label>
              <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= data[i].teacher %></span></p>
              </li>

              <li class="input">
              <label>考试时间</label>
              <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= data[i].examtime %></span></p>
              </li>

              <li class="input">
              <label>上课教室</label>
              <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= data[i].room %></span></p>
              </li>

              <li class="input">
              <label>上课校区</label>
              <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= data[i].campus %></span></p>
              </li>

              <li class="input">
              <label>开课学院</label>
              <p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= data[i].college %></span></p>
              </li>
            <% } %>
          </form>
        </div>
      </div>
    </div>
</div>

</body>
</html>
