<!doctype html>
<html>
<head>
  <% include head.html %>
</head>
<body>
<!-- 上方选择条 navbar-top-->
<% include navbar.html %>
<!-- 侧边框 -->
<% include slide.html%>
<script type="text/javascript">
   function setActive(){
    var active=document.getElementById('course_search');
    active.className='active';
  }
  setActive();
</script>
<!-- 主要内容 -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="area-top clearfix">
        <div class="pull-left header">
          <h3 class="title"><i class="icon-search"></i>选课搜索系统</h3>
          <h5>选择你要的课程</h5>
        </div>
      </div>
    </div>
  </div>
  <!-- 筛选条件 -->
  <div class="span10">
    <div class="box">
      <div class="box-header">
        <div class="title">筛选条件</div>
      </div>
      <form name="input" action="/select/course_search" method="post">
        <div class="box-content padded">
          <div class="row-fluid">
            <div class="span9">
            <!-- 条件选框 -->
              <ul>
                <li class="input">
                  <label>课程号</label>
                  <input type="text" placeholder="课程号" name="course_number">
                </li>
                <li class="input" style="margin-bottom:10px">
                  <label>课程名称:</label>
                  <textarea class="tags" placeholder="This is a textarea" id="tags1428302378316" style="display: none;" name="course_name">程序员</textarea>
                </li>
                <li>
                  <label>课程时间（全不选则为均可）:</label>
                  <table border="0" width="100%">
                    <!-- 周一 -->
                    <tr>
                      <td>
                        <div class="course_time">
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck1" name="Mon_12">
                            <ins class="iCheck-helper" style=""></ins>
                          </div>
                          <label for="icheck1">周一 1、2</label>
                        </div>
                      </td>
                      <td>
                         <div class="course_time">
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck2" name="Mon_345">
                            <ins class="iCheck-helper" style=""></ins>
                          </div>
                          <label for="icheck2">周一 3、4、5</label>
                        </div>
                      </td>
                       <td>
                        <div class="course_time">
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck3" name="Mon_678">
                            <ins class="iCheck-helper" style=""></ins>
                          </div>
                          <label for="icheck3">周一 6、7、8</label>
                        </div>
                      </td>
                       <td>
                        <div class="course_time">
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck4" name="Mon_910">
                            <ins class="iCheck-helper" style=""></ins>
                          </div>
                          <label for="icheck4">周一 9、10</label>
                        </div>
                      </td>
                       <td>
                        <div class="course_time">
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck5" name="Mon_night">
                            <ins class="iCheck-helper" style=""></ins>
                          </div>
                          <label for="icheck5">周一 晚上</label>
                        </div>
                      </td>
                    </tr>
                    <!-- 周二 -->
                    <tr>
                    <td>
                        <div class="course_time">
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck21" name="Tue_12">
                            <ins class="iCheck-helper" style=""></ins>
                          </div>
                          <label for="icheck21">周二 1、2</label>
                        </div>
                      </td>
                      <td>
                         <div class="course_time">
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck22" name="Tue_345">
                            <ins class="iCheck-helper" style=""></ins>
                          </div>
                          <label for="icheck22">周二 3、4、5</label>
                        </div>
                      </td>
                       <td>
                        <div class="course_time">
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck23" name="Tue_678">
                            <ins class="iCheck-helper" style=""></ins>
                          </div>
                          <label for="icheck23">周二 6、7、8</label>
                        </div>
                      </td>
                       <td>
                        <div class="course_time">
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck24" name="Tue_910">
                            <ins class="iCheck-helper" style=""></ins>
                          </div>
                          <label for="icheck24">周二 9、10</label>
                        </div>
                      </td>
                       <td>
                        <div class="course_time">
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck25" name="Tue_night">
                            <ins class="iCheck-helper" style=""></ins>
                          </div>
                          <label for="icheck25">周二 晚上</label>
                        </div>
                      </td>
                    </tr>
                    <!-- 周三 -->
                    <tr>
                    <td>
                        <div class="course_time">
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck31" name="Web_12">
                            <ins class="iCheck-helper" style=""></ins>
                          </div>
                          <label for="icheck31">周三 1、2</label>
                        </div>
                      </td>
                      <td>
                         <div class="course_time">
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck32" name="Web_345">
                            <ins class="iCheck-helper" style=""></ins>
                          </div>
                          <label for="icheck32">周三 3、4、5</label>
                        </div>
                      </td>
                       <td>
                        <div class="course_time">
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck33" name="Web_678">
                            <ins class="iCheck-helper" style=""></ins>
                          </div>
                          <label for="icheck33">周三 6、7、8</label>
                        </div>
                      </td>
                       <td>
                        <div class="course_time">
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck34" name="Web_910">
                            <ins class="iCheck-helper" style=""></ins>
                          </div>
                          <label for="icheck34">周三 9、10</label>
                        </div>
                      </td>
                       <td>
                        <div class="course_time">
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck35" name="Web_night">
                            <ins class="iCheck-helper" style=""></ins>
                          </div>
                          <label for="icheck35">周三 晚上</label>
                        </div>
                      </td>
                    </tr>
                    <!-- 周四 -->
                    <tr>
                    <td>
                        <div class="course_time">
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck41" name="Thu_12">
                            <ins class="iCheck-helper" style=""></ins>
                          </div>
                          <label for="icheck41">周四 1、2</label>
                        </div>
                      </td>
                      <td>
                         <div class="course_time">
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck42" name="Thu_345">
                            <ins class="iCheck-helper" style=""></ins>
                          </div>
                          <label for="icheck42">周四 3、4、5</label>
                        </div>
                      </td>
                       <td>
                        <div class="course_time">
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck43" name="Thu_678">
                            <ins class="iCheck-helper" style=""></ins>
                          </div>
                          <label for="icheck43">周四 6、7、8</label>
                        </div>
                      </td>
                       <td>
                        <div class="course_time">
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck44" name="Thu_910">
                            <ins class="iCheck-helper" style=""></ins>
                          </div>
                          <label for="icheck44">周四 9、10</label>
                        </div>
                      </td>
                       <td>
                        <div class="course_time">
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck45" name="Thu_night">
                            <ins class="iCheck-helper" style=""></ins>
                          </div>
                          <label for="icheck45">周四 晚上</label>
                        </div>
                      </td>
                    </tr>
                    <!-- 周五 -->
                    <tr>
                    <td>
                        <div class="course_time">
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck51" name="Fri_12">
                            <ins class="iCheck-helper" style=""></ins>
                          </div>
                          <label for="icheck51">周五 1、2</label>
                        </div>
                      </td>
                      <td>
                         <div class="course_time">
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck52" name="Fri_345">
                            <ins class="iCheck-helper" style=""></ins>
                          </div>
                          <label for="icheck52">周五 3、4、5</label>
                        </div>
                      </td>
                       <td>
                        <div class="course_time">
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck53" name="Fri_678">
                            <ins class="iCheck-helper" style=""></ins>
                          </div>
                          <label for="icheck53">周五 6、7、8</label>
                        </div>
                      </td>
                       <td>
                        <div class="course_time">
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck54" name="Fri_910">
                            <ins class="iCheck-helper" style=""></ins>
                          </div>
                          <label for="icheck54">周五 9、10</label>
                        </div>
                      </td>
                       <td>
                        <div class="course_time">
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck55" name="Fri_night">
                            <ins class="iCheck-helper" style=""></ins>
                          </div>
                          <label for="icheck55">周五 晚上</label>
                        </div>
                      </td>
                    </tr>
                    <!-- 周末 -->
                    <tr>
                    <td>
                        <div class="course_time">
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck61" name="Sat_Mor">
                            <ins class="iCheck-helper" style=""></ins>
                          </div>
                          <label for="icheck61">周六 上午</label>
                        </div>
                      </td>
                      <td>
                         <div class="course_time">
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck62" name="Sat_Aft">
                            <ins class="iCheck-helper" style=""></ins>
                          </div>
                          <label for="icheck62">周六 下午</label>
                        </div>
                      </td>
                       <td>
                         <div class="course_time">
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck63" name="Sat_night">
                            <ins class="iCheck-helper" style=""></ins>
                          </div>
                          <label for="icheck63">周六 晚上</label>
                        </div>
                      </td>
                       <td>
                        <div class="course_time">
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck71" name="Sun_Mor">
                            <ins class="iCheck-helper" style=""></ins>
                          </div>
                          <label for="icheck71">周日 上午</label>
                        </div>
                      </td>
                       <td>
                        <div class="course_time">
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck72" name="Sun_Aft">
                            <ins class="iCheck-helper" style=""></ins>
                          </div>
                          <label for="icheck72">周日 下午</label>
                        </div>
                      </td>
                       <td>
                        <div class="course_time">
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck73" name="Sun_night">
                            <ins class="iCheck-helper" style=""></ins>
                          </div>
                          <label for="icheck73">周日 晚上</label>
                        </div>
                      </td>
                    </tr>

                  </table>
                </li>
                <li class="input" style="margin-bottom:10px">
                  <label>教师姓名:</label>
                  <textarea class="tags" placeholder="This is a textarea" id="tags1428302378316" style="display: none;" name="course_teacher">XXX</textarea>
                </li>
              </ul>
               <!--  课程名称AND/OR -->
              <div class="col-lg-6" style="position:absolute;top:230px;left:80%">
                <div>
                  <div class="iradio_flat-aero" style="position: relative;">
                    <input type="radio" name="name" class="icheck" checked="" id="iradio1" style="position: absolute; opacity: 0;" value="and">
                  </div>
                  <label for="iradio1" class="">AND</label>
                </div>

                <div>
                  <div class="iradio_flat-aero" style="position: relative;">
                    <input type="radio" name="name" class="icheck" id="iradio2" style="position: absolute; opacity: 0;"value="or">
                  </div>
                  <label for="iradio2" class="">OR</label>
                </div>
              </div>
              <!-- 上课时间AND/OR -->
              <div style="position:absolute;top:310px;left:80%">
                <div class="col-lg-6">
                  <div>
                    <div class="iradio_flat-aero" style="position: relative;">
                      <input type="radio" name="time" class="icheck" checked="" id="iradio3" style="position: absolute; opacity: 0;" value="and">
                    </div>
                    <label for="iradio3" class="">AND</label>
                  </div>
                  <div>
                    <div class="iradio_flat-aero" style="position: relative;">
                      <input type="radio" name="time" class="icheck" id="iradio4" style="position: absolute; opacity: 0;" value="or">
                    </div>
                    <label for="iradio4" class="">OR</label>
                  </div>
                </div>
              </div>
              <!-- 教师姓名AND/OR -->
              <div style="position:absolute;top:515px;left:80%">
                <div class="col-lg-6">
                  <div>
                    <div class="iradio_flat-aero" style="position: relative;">
                      <input type="radio" name="teacher" class="icheck" checked="" id="iradio5" style="position: absolute; opacity: 0;" value="and">
                    </div>
                    <label for="iradio5" class="">AND</label>
                  </div>
                  <div>
                    <div class="iradio_flat-aero" style="position: relative;">
                      <input type="radio" name="teacher" class="icheck" id="iradio6" style="position: absolute; opacity: 0;" value="or">
                    </div>
                    <label for="iradio6" class="">OR</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <button type="submit" class="btn btn-blue">搜索</button>
        </div>
      </form>
      </div>
  </div>
  <!-- 搜索结果 -->
  <div class="span10">
    <div class="box">
      <div class="box-header">
        <span class="title">搜索结果</span>
        <ul class="box-toolbar">
          <li><span class="label label-blue"><%= course_data.length %></span></li>
        </ul>
      </div>
      <div class="box-content scrollable" style="height: 552px; overflow-y: auto">
      	<% for(var i=0; i<course_data.length;i++) { %>
        <!-- 单条搜索结果 -->
        <div class="box-section news with-icons">
          <!-- icon-OK表示这门课已经修读过 icon-lightbulb表示这门课未修读过-->
          <% if(course_data[i].complete) {%>
          <div class="avatar blue"><i class="icon-ok icon-2x"></i></div>
          <% } %>
          <% if(!course_data[i].complete) {%>
          <div class="avatar blue"><i class="icon-lightbulb icon-2x"></i></div>
          <% } %>
          <!-- 开课时间 -->
          <div class="news-time" style="width:120px"><span><%= course_data[i].semaster%></span><%= course_data[i].time%></div>
          <div class="news-content">
            <!-- 课程名称 -->
            <div class="news-title"><a href="course/<%=course_data[i].id%>" target="view_window"><%= course_data[i].name%></a></div>
            <!-- 课程信息 -->
            <div class="news-text" style="display:inline">
              任课教师:<span id="teacher"><%= course_data[i].teacher%></span>
              校区:<span id="campus"><%= course_data[i].campus%></span>
              上课地点:<span id="classroom"><%= course_data[i].room%></span>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
</body>
</html>