<!doctype html>
  <% include head.html %>
</head>
<body>
<!-- 上方选择条 navbar-top-->
<% include navbar.html %>
<!-- 侧边框 -->
<% include slide_grades.html%>
<script type="text/javascript">
   function setNavActive(){
       var active=document.getElementById('grades');
           active.className='active';
    }

   function setSlideActive(){
        var slide = document.getElementById('sumup');
            slide.className='active';
   }

     setNavActive();
     setSlideActive();
</script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Credit', 'GradePoint'],
          <% for(i = 0;i<data.length;i++){ %>
          [ <%=data[i].credit%>, <%=data[i].gradePoint%>],
          <%}%>
        ]);

        var options = {
          title: 'Credit VS GradePoint ',
          hAxis: {title: 'Credit', minValue: 0 , maxValue: 5},
          vAxis: {title: 'GradePoint', minValue: 0, maxValue: 5},
          legend: 'none'
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
    </script>


<!-- 主要内容 -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="area-top clearfix">
        <div class="pull-left header">
          <h3 class="title"><i class="icon-search"></i>成绩统计</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- 筛选条件 -->
<div class="span12">
      <div class="box">
        <div class="box-header"><span class="title">Data Tables</span></div>
         <div class="box-content">
          <!-- find me in partials/data_tables_custom -->
          <div id="chart_div" style="width: 900px; height: 500px;"></div>
         <div id="dataTables">

          <table cellpadding="0" cellspacing="0" border="0" class="dTable responsive">
          <thead>
            <tr>
              <th><div>选课课号</div></th>
              <th><div>课程名称</div></th>
              <th><div>成绩</div></th>
              <th><div>学分</div></th>
              <th><div>绩点</div></th>
              <th><div>补考成绩</div></th>
            </tr>
          </thead>
          <tbody>
            <% for(i = 0;i<data.length;i++){ %>    
            <tr>
        
              <td><%= data[i].courseNumber %></td>
              <td><%= data[i].courseName %></td>
              <td class="center"><%= data[i].score %></td>
              <td><%= data[i].credit %></td>
              <td><%= data[i].gradePoint %></td>
              <td><%= data[i].secondScore %></td>



            </tr>
            <%}%> 
          </tbody>
          </table>
         </div>
       </div>
    </div>
  </div>
</div>









    <!-- <div>
   <% for(i = 0;i<data.length;i++){ %>    
     <li><a><%= data[i].name %></a></li>
   <li><a><%= data[i].score %></a></li>
    <%}%> 
    </div>  -->





</body>
</html>
