<!doctype html>
<% include ../head.html %>
</head>
<body>
<!-- 上方选择条 navbar-top-->
<% include ../navbar.html %>
<!-- 侧边框 -->
<% include admin_slide.html%>
<script type="text/javascript">
   function setNavActive(){
       var active=document.getElementById('grades');
           active.className='active';
    }

   function setSlideActive(){
        var slide = document.getElementById('gradesAudit');
            slide.className='active';
   }

     setNavActive();
     setSlideActive();
</script>
<script type="text/javascript">
    function accept(){
        if(confirm("请确认同意")) {
            var cmd = document.getElementById('cmd_id');
            cmd.value = "accept"
            document.getElementById("form_id").submit();
        }
    }

    function reject(){
        if(confirm("请确认拒绝") ) {
            var cmd = document.getElementById('cmd_id');
            cmd.value = "reject"
            var reason = document.getElementById('reason_id');
            reason.value = prompt("请输入拒绝理由 ","");
            document.getElementById("form_id").submit();
        }
    }
</script>



<!-- 主要内容 -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="area-top clearfix">
        <div class="pull-left header">
          <h3 class="title"><i class="icon-search"></i>成绩审核</h3>
        </div>
      </div>
    </div>
  </div>


<div class="span10">
<div class="box">
  <div class="box-header">
    <span class="title">成绩修改申请</span>
    <ul class="box-toolbar">
      <li><span class="label label-green">进行中</span></li>
    </ul>
  </div>
  <div class="box-content">
    <table class="table table-normal">
      <thead>
      <tr>
        <td>课程编号</td>
        <td>教师姓名</td>
        <td>学生学号</td>
        <td>原成绩</td>
        <td>修改后成绩</td>
        <td>修改理由</td>
        <td style="width: 40px">审核意见</td>
      </tr>
      </thead>

      <tbody>
      <% for(i=0;i<data.length;i++){%>
      <form name = "motion" action = "gradesAudit" id = "form_id" method = "post">
      <tr class="status-pending">
        <td><%=data[i].courseid%></a></td>
        <td><%=data[i].teachername%></td>
        <td><%=data[i].studentid%></td>
        <td><%=data[i].oldvalue%></td>
        <td><%=data[i].newvalue%></td>
        <td><%=data[i].reason%></td>
        <input type="hidden" name="cmd" id ="cmd_id" value="" >
        <input type="hidden" name = "teacherid"  value =<%=data[i].teacherid%> >
        <input type="hidden" name = "studentid"  value =<%=data[i].studentid%> >
        <input type="hidden" name = "courseid"   value =<%=data[i].courseid%> >
        <input type="hidden" name = "newvalue"   value =<%=data[i].newvalue%> >

        <input type="hidden" name = "reason" id = "reason_id" value ="" >
        <td>
          <div class="btn-group">
            <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
            <ul class="dropdown-menu">
              <li><a  onClick="accept()">同意修改</a></li>
              <li><a  onClick="reject()">反对修改</a></li>
            </ul>
          </div>
        </td>
      </tr>
      </form>
     <%}%>
        
      </tbody>
    </table>
  </div>
</div>



</div>







</div>
</body>
</html>
